{% load staticfiles %}
    <html>
        <head>
            <title>DH Blog{{ page }}</title>
            <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
            <meta name="google-site-verification" content="qWjyI5FoTakjx_GXFZr6cqeB2YRzYdDgJbutIP7W1uE" />

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

            <link rel="stylesheet" href="{% static 'css/blog1.css' %}"> 

            <script src="//code.jquery.com/jquery-3.1.0.min.js" ></script>
            <script src="//malsup.github.io/min/jquery.form.min.js" ></script>
        </head>
        <body>

            <div class="container-fluid page-header">
                <h1><a href="/">DarkHead Blog</a></h1>
            </div>

            <nav class="navbar navbar-default top-menu">
                <div class="container">

                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'best' %}">Best</a></li>
                        <li><a href="{% url 'popular' %}">Popular</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'post_new' %}">+POST</a></li>
                        {% endif %}
                        <li class="visible-xs"><a href="">Blogs</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout'  %}?next=/">logout</a></li>
                            {% if user.is_staff %}
                        <li><a href="/admin">admin</a></li>
                            {% endif %}
                        {% else %}
                        <li><a href="{% url 'login' %}?next=/">login</a></li>
                        <li><a href="{% url 'registration' %}?next=/">registration</a></li>
                        {% endif %}
                    </ul>

                </div>
            </nav>

            <div class="content container">
                <div class="row">
                    <div class="col-md-9 post">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-md-3 hidden-xs sidebar">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="footer container-fluid navbar-fixed-bottom">
Александр Можайский &copy 2018
            </div>
            {% block javascript %}
            {% endblock %}
        </body>
    </html>

    
