{% extends 'blog/base.html' %}

{% block javascript %}
{% if user.is_authenticated %}
<script type="text/javascript" >
    $('button[name=plus]').click(function(){
        var id = {{ post.pk }};
        var cUrl = '/post/plus/'+id
        $.ajax({
            url: cUrl,
            dataType: 'json',
            success: function(data){
                if(data.rate){
                    $('#rate').html("rate:"+data.rate);
                }
            }
        });
    });
    $('button[name=minus]').click(function(){
        var id = {{ post.pk }};
        var cUrl = '/post/minus/'+id;
        $.ajax({
            url: cUrl,
            dataType: 'json',
            success: function(data){
                if(data.rate){
                    $('#rate').html("rate:"+data.rate);
                }
            }
        });
    });


    $('button[name=send]').click(function(){

        var text = $('textarea[name=text]').val();
        var id = {{ post.pk }};
        var cUrl = '/post/'+id+'/comment/';
        if(text){
            $.ajax({
            type: "POST",
            url: cUrl,
            dataType: "json",
            data: JSON.stringify(text),
            success: function (data,text) {
          if (data.is_recived) {
            console.log(data.is_recived);
            commentRender();
          }},
            contentType: "application/json",
            crossDomain: false,
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        }
    });
    function commentRender(data,text){
    var text = $('textarea[name=text]').val();
    $('textarea[name=text]').val('');
    var block = "<div class='comment'><h3>{{ user.username }}</h3><p>recently</p><p>" +text+ "</p><br><br></div>";

    $(".coms").prepend(block);



    };

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endif %}
{% endblock %}

{% block content %}

    <div class="post">
        

        {% if post.blog %}
            <div>
                blog: {{ post.blog }}
            </div>
        {% endif %}


        <h1>{{ post.title }}</h1>

        <p class="post-info">
            <span class="author label label-info">{{ post.author }}</span>
            <span class="date">{{ post.published_date|date:" j. n. Y" }}</span>
            {% if user.is_authenticated and user.is_staff or user.username == post.author.username %}
                <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </p>

        
        {% if user.is_authenticated %}
        <p>
            <button name="minus">-</button>
            <span id="rate">{{ post.rate }}</span>
            <button name="plus">+</button>
        </p>
        {% else %}
        <p><span id="rate">{{ post.rate }}</span></p>
        {% endif %}

        <br><br>
        <p class="post_data_wrapper">{{ post.text|safe|linebreaksbr }}</p>
        <br>
    </div>

    <hr>
{% if user.is_authenticated %}
<!--add ajax-->
    <!--<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>-->

    <form>
    {% csrf_token %}
        <textarea type="text" name="text"></textarea>
        <button name="send" type="button">Send</button>
    </form>
<div class="coms">
{% endif %}
    {% for comment in post.comments.all %}
        <div class="comment">
            <h3>{{ comment.author }}</h3>
            <p>{{ comment.published_date }}</p>
            <p>{{ comment.text|linebreaks  }}</p>
            <br><br>
        </div>
    {% endfor %}
</div>
{% endblock %}
