{% extends 'blog/base.html' %}

{% block javascript %}
{% if user.is_authenticated %}
<script type="text/javascript" >
    $('button[name=plus]').click(function(){
        var id = {{ post.pk }};
        var cUrl = '/post/rate/'+id+'/plus';
        $.ajax({
            url: cUrl,
            dataType: 'json',
            success: function(data){
                if(data.rate){
                    $('#rate').html(data.rate);
                    renderState(data.rate_state);
                }
            }
        });
    });
    $('button[name=minus]').click(function(){
        var id = {{ post.pk }};
        var cUrl = '/post/rate/'+id+'/minus';
        $.ajax({
            url: cUrl,
            dataType: 'json',
            success: function(data){
                if(data.rate){
                    $('#rate').html(data.rate);
                    renderState(data.rate_state);
                }
            }
        });
    });


    $('#send').click(function(){
        console.log("sending");

        var text = $('textarea[name=text]').val();
        var id = {{ post.pk }};
        var cUrl = '/post/'+id+'/comment/';
        if(text){
            $.ajax({
            type: "POST",
            url: cUrl,
            dataType: "json",
            data: JSON.stringify(text),
            success: function (data,text) {
          if (data.is_recived) {
            console.log(data.is_recived);
            commentRender();
          }},
            contentType: "application/json",
            crossDomain: false,
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        }
    });

    function renderState(state){
        if(state==-1){
            $('button[name=minus]').addClass('btn-danger');
            $('button[name=plus]').removeClass('btn-success');
        }
        if(state==0){
            $('button[name=minus]').removeClass('btn-danger');
            $('button[name=plus]').removeClass('btn-success');            
        }
        if(state==1){
            $('button[name=minus]').removeClass('btn-danger');
            $('button[name=plus]').addClass('btn-success');            
        }
    }


    function commentRender(data,text){
    var text = $('textarea[name=text]').val();
    $('textarea[name=text]').val('');
    var block = "<div class='comment'><blockquote>"+ text +"<footer><span class='label label-success'>{{ user.username }}</span> Recently</footer></blockquote></div>";

    $(".coms").append(block);



    };

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endif %}
{% endblock %}

{% block content %}

    <div class="post">
        



        <h1>{{ post.title }}</h1>

        <p class="post-info">
            <span class="author label label-info">{{ post.author }}</span>
            
            {% if post.blog %}
            @
            <a href="/blog/{{ post.blog.pk }}">
            <span class="blog label label-warning">
                {{ post.blog }}
            </span>
            </a>

            {% endif %}
            <span class="date"> {{ post.published_date|date:" j. n. Y" }}</span>
            {% if user.is_authenticated and user.is_staff or user.username == post.author.username %}
                <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </p>

        
        {% if user.is_authenticated %}

        <div class="input-group col-md-1">
              <div class="input-group-btn">
              <button class="btn btn-default {% if post in user.profile.dislikes.all %} btn-danger {% endif %}" name="minus">-</button>
                <!-- Button and dropdown menu -->
              </div>
              <span id="rate" type="text" class="form-control">{{ post.rate }}</span>
              <div class="input-group-btn">
                <!-- Button and dropdown menu -->
                <button class="btn btn-default {% if post in user.profile.likes.all %} btn-success {% endif %}"  name="plus">+</button>
              </div>
        </div>
        {% else %}
        <p><span id="rate">{{ post.rate }}</span></p>
        {% endif %}

        <br><br>
        <p class="post_data_wrapper">{{ post.text|safe|linebreaksbr }}</p>
        <br>
    </div>

<h3>Comments:</h3>


<div class="coms">
    {% for comment in post.comments.all %}
        <div class="comment">
            <blockquote>
                <footer><span class="label label-success">{{ comment.author }}</span>
            {{ comment.published_date|date:" j. n. Y"  }}</footer>
                {{ comment.text|linebreaks  }}
            </blockquote>
        </div>
    {% endfor %}
</div>


{% if user.is_authenticated %}
    <form class="post-form form-inline">{% csrf_token %}

        <label for="{{ form.text.id_for_label }}" class="col-sm-2">New comment:</label>
        <div class="fieldWrapper form-group">
                <textarea type="text" name="text" class="form-control"></textarea>
        </div>
        <input id="send" type="button" class="btn btn-default" value="Send" >
    </form>
{% endif %}

{% endblock %}
